@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}
